@page "/"

<PageTitle>Index</PageTitle>

@using FinancialApp.Data
@using FinancialApp.Models
@inject BankingTransactionService TransactionsService

<div class="InfoBox">
<p id="p1">@DataCount</p>
<p id="p2">@CategoryCount</p>
<p id="p3">@DaysInData</p>
<p id="p4">@Recipients</p>
</div>

@code {
    private BankingTransaction[]? Transactions;
    private string? DataCount;
    private string? CategoryCount;
    private string? DaysInData;
    private string? Recipients;

    protected override async Task OnInitializedAsync()
    {
        Transactions = TransactionsService.GetTransactionsAsync();
        DataCount = Convert.ToString(Transactions.Count()) + " Umsätze";
        CategoryCount = Convert.ToString((from t in Transactions select t.category).Distinct().Count()) + " Kategorien";
        DaysInData = Convert.ToString(Convert.ToInt32((DateTime.Now -(from t in Transactions orderby t.date ascending select t.date).FirstOrDefault()).TotalDays)) + " Tage Datenbestand";
        Recipients = Convert.ToString((from t in Transactions select t.recipient1).Distinct().Count()) + " Empfänger";
    }
}
