@page "/overview"

<PageTitle>Übersicht</PageTitle>

@using ChartJs.Blazor.Common;
@using ChartJs.Blazor.PieChart;
@using ChartJs.Blazor.Util;
@using FinancialApp.Data
@using FinancialApp.Models
@inject BankingTransactionService TransactionsService

<h3>Übersicht</h3>

<h1>Finance-Front</h1>
<br>
<h2>Von @StartDate bis @EndDate</h2>
<Chart Config="_config"></Chart>
@*
<h3>Überblick</h3>
<div class="chartBox">
    <canvas id="overviewChart" class="main_chart">></canvas>
</div>
<br>
<h3>Einnahmen</h3>
<div class="chartBox">
    <canvas id="firstChart" class="chart"></canvas>
    <table id="tableEinnahmen">
        <tr>
            <th>Kategorie</th>
            <th>Summe</th>
        </tr>
    </table>
</div>
<br>
<h3>Ausgaben</h3>
<h4>Alle</h4>
<div class="chartBox">
    <canvas id="secondChart" class="chart"></canvas>
    <table id="tableAusgabenAlle">
        <tr>
            <th>Kategorie</th>
            <th>Summe</th>
        </tr>
    </table>
</div>
<h4>Fix</h4>
<div class="chartBox">
    <canvas id="thirdChart" class="chart"></canvas>
    <table id="tableAusgabenFix">
        <tr>
            <th>Kategorie</th>
            <th>Summe</th>
        </tr>
    </table>
</div>
<h4>Nicht Fix</h4>
<div class="chartBox">
    <canvas id="fourthChart" class="chart"></canvas>
    <table id="tableAusgabenNichtFix">
        <tr>
            <th>Kategorie</th>
            <th>Summe</th>
        </tr>
    </table>
</div>*@

@code {
    string StartDate = "01.11.2022";
    string EndDate = "30.11.2022";

    private PieConfig _config;

    protected override void OnInitialized()
    {
        _config = new PieConfig
            {
                Options = new PieOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = true,
                        Text = "ChartJs.Blazor Pie Chart"
                    }
                }
            };

        foreach (string color in new[] { "Red", "Yellow", "Green", "Blue" })
        {
            _config.Data.Labels.Add(color);
        }

        PieDataset<int> dataset = new PieDataset<int>(new[] { 6, 5, 3, 7 })
            {
                BackgroundColor = new[]
                {
            ColorUtil.ColorHexString(255, 99, 132), // Slice 1 aka "Red"
            ColorUtil.ColorHexString(255, 205, 86), // Slice 2 aka "Yellow"
            ColorUtil.ColorHexString(75, 192, 192), // Slice 3 aka "Green"
            ColorUtil.ColorHexString(54, 162, 235), // Slice 4 aka "Blue"
        }
            };

        _config.Data.Datasets.Add(dataset);
    }
}
