.InfoBox[b-0725g9m1qj] {
    font-weight: 600;
    font-size: 500%;
    line-height: 0.53;
    margin-top: 25vh;
}


p#p2[b-0725g9m1qj] {
    color: gray;
}

p#p3[b-0725g9m1qj] {
    color: darkgray;
}
p#p4[b-0725g9m1qj] {
    color: lightgray;
}